.facility-heading {
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
  color: rgb(6, 77, 77);
}

.facility-container-block-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  background-color: #ffff;
}
.facility-container-card {
  width: 300px;
  align-items: center;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
.facility-container-card:hover {
  cursor: pointer;
  background: #7332aa;
  color: white;
}
.facility-container-card i {
  font-size: 50px;
  //display: flex;
  align-items: center;
  justify-content: center;
}
.facility-card-title {
  margin-top: 10px;
}
