.navbar-container {
  overflow: hidden;
  border-bottom: 1px solid rgba(128, 128, 128, 0.178);
  background-color: #ffff;
}

.navbar {
  background-color: #ffff;
  margin-bottom: 10px;
}
.nav-link {
  font-weight: 600;
  margin-left: 20px;
  color: #37145a;
}
.alfa-brand-logo {
  max-height: 110px;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
  margin-left: 20px;
}
.alfa-brand-logo:hover {
  opacity: 0.9;
}
