.navbar-container {
  overflow: hidden;
  border-bottom: 1px solid rgba(128, 128, 128, 0.178);
}

.topbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #7332aa;
   {
    /* background-color: #37145A is primary darker */
  }
  color: #ffff;
  font-weight: normal;
  font-family: "DIN Next", sans-serif;
  padding: 6px;

  .fa-phone {
    margin-right: 10px;
  }
  .fa-clock {
    margin-right: 10px;
  }
  .fa-at {
    margin-right: 10px;
  }
}

.navbar {
  background-color: #ffff;
  margin-bottom: 10px;
}
.nav-link {
  font-weight: 600;
  margin-left: 20px;
  color: #37145a;
}
.alfa-brand-logo {
  max-height: 110px;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
  margin-left: 20px;
}
.alfa-brand-logo:hover {
  opacity: 0.9;
}
