.main-slider {
  width: 100%;
  height: 550px;
}

.slider-image {
  width: 100%;
  height: 550px;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .main-slider,
  .slider-image {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .main-slider,
  .slider-image {
    height: 250px;
  }
}
